<a href="https://colab.research.google.com/github/VishalKumar-GitHub/AI-and-application/blob/main/Ankit_Python_Beginner_Level.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1-2: Python Basics

‚úÖ Print statements (print())

‚úÖ Variables & Data Types (int, float, str, bool)

‚úÖ Basic Arithmetic Operations (+, -, *, /, %)

‚úÖ Input from users (input())

‚úÖ Comments (# single-line, """ multi-line """)

1Ô∏è‚É£ Print Statements (print())

Q1: Write a Python program to print:

`Hello, World!`

In [ ]:
text = 'Hello, World!'
print(text)

Hello, World!


Q2: Print your name and favorite hobby in two separate lines.

In [ ]:
Text = "Ankit,\n Reading"    #The backslash (\) itself is known as an escape character.
print(Text)

Ankit,
 Reading

**\n** represents a new line (line break).

**\t** represents a tab space.

**\\** represents a literal backslash (\).

2Ô∏è‚É£ Variables & Data Types (`int, float, str, bool`)

Q3: Create and print variables for:

Your name (string)

Your age (integer)

Your height (float)

Whether you love coding (boolean)

In [ ]:
name = "Ankit"
age = 25
height = 5.8
love_coding = True

print(name, age, height, love_coding)

Ankit 25 5.8 True

3Ô∏è‚É£ Basic Arithmetic Operations (`+, -, *, /, %`)

Q4: Write a program that calculates:

The sum of 10 and 20

The difference between 50 and 15

The product of 7 and 8

The division of 100 by 5

The remainder when 17 is divided by 3

In [ ]:
a = 10 + 20
b = 50 - 15
c = 7  * 8
d = 100 / 5
e = 17 % 5

print(a, b, c, d, e)

30 35 56 20.0 2

4Ô∏è‚É£ Taking User Input (`input()`)

Q5: Ask the user to enter their name and age, then print:

`Hello [name]! You are [age] years old.`

In [ ]:
name = input("Enter your name: ")
age = input("Enter your age:")

print(f"Hello: {name}, Your age: {age} year old" )

Enter your name: Ankit Rana
Enter your age:25
Hello: Ankit Rana, Your age: 25 year old

Q6: Ask the user to input two numbers and print their sum.

In [ ]:
Num1 = int(input("Enter first number: "))
Num2 = int(input("Enter second number: "))

sum = Num1 + Num2

print(sum)

Enter first number: 50
Enter second number: 30
80

Q8: Write a program that calculates the area of a rectangle (**length √ó width**) and add a **multi-line comment** explaining the formula.

In [ ]:
length = 4   #"""This is a length of rectangle"""
width = 3    #"""This is a width of rectangle"""

area = 0.5 * 4 * 3    #"""This is a area of rectangle"""

print(area)   #"""This is a print statemanet"""

6.0

In [ ]:
"""
This program calculates the area of a rectangle.

Formula:
    Area = Length √ó Width
Where:
    - Length is the longer side of the rectangle.
    - Width is the shorter side of the rectangle.
"""

# Taking user input for length and width
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

# Calculating the area
area = length * width

# Printing the result
print("The area of the rectangle is:", area)

Enter the length of the rectangle: 5.3
Enter the width of the rectangle: 4.6
The area of the rectangle is: 24.38

Day 3-4: Conditional Statements & Loops

‚úÖ If-Else conditions (if, elif, else)

‚úÖ Logical Operators (and, or, not)

‚úÖ Loops (for, while)

‚úÖ Loop control statements (break, continue, pass)

üîπ Practice: Write a program that prints numbers from 1 to 20 but skips multiples of 3

1Ô∏è‚É£ **If-Else Conditions** (`if, elif, else`)

Q1: Write a program that asks the user to enter a number and checks if it is **positive, negative, or zero**.

In [ ]:
number = int(input("Enter a number: "))

if number > 0:
    print("Positive")
elif number == 0:
    print("Zero")
else:
    print("Negative")

Enter a number: -7
Negative

Q2: Write a program that asks for a person's **age** and prints:

"Child" if age is **less than 12**

"Teenager" if age is `between 12 and 18`

"Adult" if age is **above 18**

In [ ]:
age = int(input("Enter your age: "))

if age < 12:
  print("Child")
elif age >= 12 and age <= 18:
 print("Teenager")
else :
  print("Adult")

Enter your age: 17
Teenager

2Ô∏è‚É£ Logical Operators (`and, or, not`)

Q3: Write a program that checks if a number is **between 10 and 50** using the **and** operator.

In [7]:
# Taking user input
x = int(input("Enter a number: "))

# Checking if the number is between 10 and 50
if x >= 10 and x <= 50:
    print("The number is between 10 and 50.")
else:
    print("The number is NOT between 10 and 50.")

Enter a number: 22
The number is between 10 and 50.

Q4: Write a program that asks the user for a letter and checks if it is a **vowel (a, e, i, o, u)** using the **or** operator.

In [10]:
letter = input("Enter a letter:").lower()

if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
  print("letter is vowel")
else:
  print("letter is not vowel")

Enter a letter:a
letter is vowel

Q5: Use the **not** operator to check if a number **is not equal to 100**.

In [12]:
number = int(input("Enter a number: "))

if not number == 100:
  print("This is not equal")
else:
  print("This is equal")

Enter a number: 100
This is equal

3Ô∏è‚É£ Loops (`for, while`)

Q6: Write a program that prints numbers from **1 to 10** using a `for` loop.

In [13]:
for i in range (1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

Q7: Write a program that prints numbers from **1 to 10** using a `while` loop.

In [17]:
i = 1 # Start from 1

while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

Q8: Write a program that asks the user for a number and prints its **multiplication table (1 to 10)** using a `for` loop.

In [29]:
# Taking user input
num = int(input("Enter a number: "))

# Printing the multiplication table using a for loop
print(f"\n Multiplication Table of {num}:")
for i in range(1, 11):  # Loop from 1 to 10
    print(f"{num} √ó {i} = {num * i}")

Enter a number: 21

 Multiplication Table of 21:
21 √ó 1 = 21
21 √ó 2 = 42
21 √ó 3 = 63
21 √ó 4 = 84
21 √ó 5 = 105
21 √ó 6 = 126
21 √ó 7 = 147
21 √ó 8 = 168
21 √ó 9 = 189
21 √ó 10 = 210

4Ô∏è‚É£ Loop Control Statements (`break, continue, pass`)

Q9: Write a program that prints numbers from **1 to 10**, but skips **5** using `continue`.

In [2]:
for i in range (1, 11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

Q10: Write a program that prints numbers from **1 to 10**, but stops at **7** using `break`.

In [3]:
for i in range (1, 11):
  if i == 7:
    break
  print(i)

1
2
3
4
5
6

Q11: Write a program with a loop that contains the `pass` statement and explain why it is used.

In [4]:
for i in range (1, 11):
  if i == 4:
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10

Day 5-6: Data Structures - Lists & Tuples

‚úÖ Lists ([], append(), remove(), pop())

‚úÖ List slicing & iteration

‚úÖ Tuples (()) - Immutable lists

‚úÖ List comprehension

1Ô∏è‚É£ Lists ([ ], append( ), remove( ), pop( ))

Q1: Create a list of 5 fruits and print the list.

In [23]:
fruits = ["Apple", "Banana", "Guava", "Graps", "Cherry"]
print(fruits)

['Apple', 'Banana', 'Guava', 'Graps', 'Cherry']

Q2: Add **"Mango"** to the list using `append()`, then print the updated list.

In [24]:
fruits.append("Mango")
print(fruits)

['Apple', 'Banana', 'Guava', 'Graps', 'Cherry', 'Mango']

Q3: Remove the second item from the list using `remove()` or `pop()` and print the updated list.

In [25]:
fruits.remove("Guava")
print(fruits)

['Apple', 'Banana', 'Graps', 'Cherry', 'Mango']

In [26]:
fruits.pop()
print(fruits)

['Apple', 'Banana', 'Graps', 'Cherry']

2Ô∏è‚É£ List Slicing & Iteration

Q4: Create a list of 10 numbers and print only the **first 5 numbers** using slicing.

In [29]:
Number = [2, 4, 6, 8, 10, 12, 14, 16, 18, 21]
print(Number[:5])

[2, 4, 6, 8, 10]

Q5: Print only the **last 3 numbers** from the list using slicing.

In [38]:
print(Number[-3:])

[16, 18, 21]

Q6: Use a **for** loop to print each item in a list of colors.

In [40]:
colors = ["Red", "Yellow", "Black", "Blue", "White"]
print(colors)

['Red', 'Yellow', 'Black', 'Blue', 'White']

In [41]:
for color in colors:
  print(color)

Red
Yellow
Black
Blue
White

3Ô∏è‚É£ **Tuples (( ))** - Immutable Lists

Q7: Create a tuple with 3 country names and print it.

In [42]:
country = ("USA", "UK", "Germany")
print(country)

('USA', 'UK', 'Germany')

Q8: Try modifying a value in the tuple and observe the error.

In [ ]:
country[0] = "INDIA"
print(country)

In [ ]:
country.append("INDIA")
print(country)

Q9: Convert a tuple into a list, modify it, and convert it back into a tuple.

In [45]:
list_country = list(country)
print(list_country)

['USA', 'UK', 'Germany']

In [46]:
list_country.append("India")
print(list_country)

['USA', 'UK', 'Germany', 'India']

In [47]:
new_tuple = tuple(list_country)
print(new_tuple)

('USA', 'UK', 'Germany', 'India')

4Ô∏è‚É£ List Comprehension

Q10: Create a list of **squares** of numbers from 1 to 10 using list comprehension.

In [48]:
for x in range(1, 11):
  print(x**2)      #Output = (Printed Line by Line)

1
4
9
16
25
36
49
64
81
100

‚úÖ Each number is printed on a new line.

In [49]:
square = [x**2 for x in range(1, 11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

‚úÖ The output is stored as a list and printed in list format.

Q11: Create a list of even numbers from 1 to 20 using list comprehension.

In [50]:
num = [x for x in range(1, 21) if x % 2 == 0]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]



Q12: Take a list of names and create a new list containing only names that start with "A" using list comprehension.

In [53]:
names = ["Ankit", "Rohit", "Ajay", "Vijay", "Vikas"]
name_A = [name for name in names if name.startswith("A")]
print(name_A)

['Ankit', 'Ajay']

In [54]:
names = ["Ankit", "Rohit", "Ajay", "Vijay", "Vikas"]
name_A = [name for name in names if name.endswith("s")]
print(name_A)

['Vikas']

In [60]:
names = [
    "Olivia", "James", "Sophia", "Daniel", "Emma", "Benjamin", "Charlotte", "Ethan", "Amelia", "Michael",
    "Mia", "Alexander", "Harper", "William", "Evelyn", "Henry", "Abigail", "Lucas", "Ella", "Mason",
    "Scarlett", "Logan", "Grace", "Jack", "Victoria", "Liam", "Avery", "Samuel", "Madison", "Sebastian",
    "Luna", "Matthew", "Chloe", "David", "Nora", "Elijah", "Hannah", "Gabriel", "Aiden", "Lily",
    "Christopher", "Zoe", "Joseph", "Natalie", "Andrew", "Penelope", "Ryan", "Camila", "Joshua", "Leah",
    "Julian", "Savannah", "Nathan", "Brooklyn", "Dylan", "Stella", "Caleb", "Skylar", "Isaac", "Paisley",
    "Leo", "Eliana", "Hunter", "Aria", "Wyatt", "Aurora", "Jonathan", "Hazel", "Luke", "Violet",
    "Isaiah", "Ellie", "John", "Lucy", "Anthony", "Mila", "Theodore", "Ruby", "Charles", "Alice",
    "Eli", "Sarah", "Landon", "Bella", "Connor", "Claire", "Adrian", "Autumn", "Christian", "Kennedy",
    "Hudson", "Genesis", "Robert", "Jade", "Thomas", "Delilah", "Jordan", "Valentina", "Dominic", "Ariana",
    "Easton", "Caroline", "Jaxon", "Brielle", "Adam", "Everly", "Ian", "Sadie", "Austin", "Madeline",
    "Jace", "Piper", "Nolan", "Nevaeh", "Aaron", "Melanie", "Lincoln", "Rylee", "Jeremiah", "Isla",
    "Ezekiel", "Athena", "Greyson", "Julia", "Jose", "Kinsley", "Nicholas", "Hadley", "Angel", "Emilia",
    "Brayden", "Vivian", "Everett", "Clara", "Miles", "Josephine", "Micah", "Ivy", "Sawyer", "Peyton",
    "Jason", "Adeline", "Roman", "Lyric", "Xavier", "Noelle", "Maxwell", "Cora", "Carlos", "Quinn",
    "Jasper", "Maeve", "Kingston", "Rose", "Kaiden", "Naomi", "Maddox", "Willow", "Diego", "June",
    "Max", "Elise", "Asher", "Sienna", "Mateo", "Allison", "Grayson", "Andrea", "Zachary", "Rachel",
    "Finn", "Eliza", "Weston", "Angela", "Tucker", "Reagan", "Blake", "Lyla", "Tyler", "Faith",
    "Emmett", "Trinity", "Oscar", "Jasmine", "Alex", "Tessa", "Gavin", "Lillian", "Bentley", "Makayla",
    "Calvin", "Brynlee", "Jonah", "Juliette", "Malachi", "Ryleigh", "Ryder", "Gracie", "Hayden", "Margaret",
    "Jude", "Alaina", "Beau", "Lola", "Amari", "Camille", "Jake", "Brianna", "Zane", "Jocelyn"
]

name_H = [name for name in names if name.startswith("H")]
print(name_H)

['Harper', 'Henry', 'Hannah', 'Hunter', 'Hazel', 'Hudson', 'Hadley', 'Hayden']

Day 7-8: Data Structures - Dictionaries & Sets

‚úÖ Dictionaries (`{key: value}`, .`get(), .keys(), .values()`)

‚úÖ Sets (`set(), add(), remove(), union(), intersection()`)

1Ô∏è‚É£ Dictionaries ({key: value}, .get(), .keys(), .values())

Q1: Create a dictionary to store the names and ages of three people. Print the dictionary.

In [3]:
names = {"Ankit": 25, "Rohit": 20, "Vijay": 37}
print(names)

{'Ankit': 25, 'Rohit': 20, 'Vijay': 37}

Q2: Given the dictionary below, print only the keys and then only the values.

In [5]:
print(names.keys())
print(names.values())

dict_keys(['Ankit', 'Rohit', 'Vijay'])
dict_values([25, 20, 37])

Q3: Write a program that asks the user for a country name and prints its capital using the dictionary below. If the country is not found, print `"Country not in the list."`

In [8]:
country_capitals = {
    "France": "Paris",
    "Germany": "Berlin",
    "Italy": "Rome",
    "Spain": "Madrid",}


country = input("Enter a country name: ")
capital = country_capitals.get(country, "Country not in the list.")
print(capital)

Enter a country name: India
Country not in the list.

Q4: Use the `.get()` method to retrieve the value of the key `"age" `from the dictionary below. If the key is not found, print `"Key not found"` instead.

In [11]:
names_ages = input("Enter a name: ")
ages = names.get(names_ages, "Key not found")
print(ages)

Enter a name: Rohit
20

Q5: Add a new key `"email"` with the value `"john@example.com"` to the dictionary below and print the updated dictionary.

In [13]:
names["email"] = "ankit@123.com"
print(names)

{'Ankit': 25, 'Rohit': 20, 'Vijay': 37, 'email': 'ankit@123.com'}

2Ô∏è‚É£ Sets (`set(), add(), remove(), union(), intersection()`)

Q6: Create a set with five unique fruit names and print it.

In [14]:
fruits = {"Apple", "Banana", "Guava", "Graps", "Cherry"}
print(fruits)

{'Banana', 'Guava', 'Apple', 'Graps', 'Cherry'}

Q7: Add `"Mango"` to the set below and print the updated set.

In [15]:
fruits.add("Mango")
print(fruits)

{'Mango', 'Banana', 'Guava', 'Apple', 'Graps', 'Cherry'}

Q8: Remove `"Banana"` from the set below and print the updated set.

In [16]:
fruits.remove("Banana")
print(fruits)

{'Mango', 'Guava', 'Apple', 'Graps', 'Cherry'}

Q9: Find the union of the two sets below and print the result.

In [17]:
set1 = {1, 6, 7, 9}
set2 = {2, 10, 6, 9}
Final_union = set1.union(set2)
print(Final_union)

{1, 2, 6, 7, 9, 10}

Q10: Find the intersection of the two sets below and print the result.

In [18]:
Final_intersection = set1.intersection(set2)
print(Final_intersection)

{9, 6}

Day 9-10: Functions & Modules

‚úÖ Defining functions (def function_name():)

‚úÖ Function arguments & return values

‚úÖ Importing & using Python modules (math, random, datetime

‚úÖ Writing your own modules

In [4]:
a = int(input("Enter your age: "))
if a >= 18:
  print("You can drive")
else:
  print("You can not drive")

Enter your age: 19
You can drive